.Custom-searching {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  width: 100%;
  height: fit-content;
  padding: 10px;
  font-size: 1rem;
  margin: 30px 0;
  align-items: flex-start;

  .Country-choice {
    padding: 10px;
    border-radius: 8px;
    flex-basis: 100%;
    background-color: var(--white);
    position: relative;
    display: flex;
    align-items: center;

    @include tablet-view {
      flex-basis: 50%;
    }
    svg {
      margin: 0 15px;
      font-size: 1.3em;
      opacity: 0.6;
      color: var(--dark-gray);
      pointer-events: none;
      transition: 0.8s ease all;
      transform-origin: 50% 25%;
    }
    #Country {
      border: none;
      color: var(--dark-gray);
      font-size: 1em;
      font-weight: 600;
      font-family: inherit;
      padding: 10px 0;
      width: 100%;
    }
  }
  .select {
    width: fit-content;
    margin-top: 40px;
    position: relative;
    font-size: 1em;
    min-width: 200px;
    @include tablet-view {
      flex-basis: 30%;
      margin-top: 0;
    }
    .Continent-select {
      width: 100%;
      background-color: var(--white);
      color: var(--dark-gray);
      font-weight: 600;
      list-style: none;
      padding: 15px;
      border: none;
      border-radius: 8px;
      cursor: pointer;
      display: flex;
      position: absolute;
      flex-direction: column;
      svg {
        position: absolute;
        top: 30px;
        right: 20px;
        transform: translateY(-50%);
        font-size: 0.8em;
        color: var(--dark-gray);
        pointer-events: none;
        transition: 0.8s ease all;
        transform-origin: 50% 25%;

        &.isActive {
          transform-origin: 50% 50%;
          transform: rotate(180deg);
        }
      }
      li {
        padding: 5px 10px;
        z-index: 99;
        &.region {
          display: none;
          &.isActive {
            display: block;
          }
          &:hover {
            color: var(--very-dark-blue-Light-mode);
          }
        }
      }
    }
  }
}
