main {
  padding: 20px 5%;
  width: 100%;
  height: fit-content;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;

  .country-container {
    border-radius: 8px;
    flex-basis: 283px;
    margin: 30px auto;
    gap: 20px;
    background-color: var(--white);
    .country-flag {
      background-color: rgb(173, 57, 250);
      border-radius: 8px 8px 0 0;
      min-height: 200px;
    }
    .country-info {
      padding: 10px 25px 35px 25px;
      .country-name {
        padding: 15px 0;
      }
      p {
        font-weight: 600;
        padding: 3px 0;
        span {
          font-weight: 300;
        }
        &.separate-line {
          margin-top: 30px;
        }
        &.hidden {
          display: none;
        }
      }
    }
  }
}
